[user]
	name = Yunkai Zhang
	email = qiushu.zyk@taobao.com
[sendemail]
	smtpencryption = tls 
	smtpserverport = 587
	smtpserver = smtp.gmail.com
	smtpuser = yunkai.me@gmail.com
	from = Yunkai Zhang <yunkai.me@gmail.com>
	#suppressfrom = true
	suppresscc = sob
	suppresscc = author
	confirm = always
[core]
	editor = vim
	quotepath = false
[format]
	signoff = true
[color]
	ui = always
[http]
	proxy = 127.0.0.1:8087
	sslVerify = false
